<%- include layouts/header.ejs %>

<main>
    Home

    <ul>    
        <% users?.map((user)=>{ %>
        <li><%= user.email %></li>
        <%  }); %>    
    </ul>
</main>
<%- include layouts/footer.ejs %>
