<%- include layouts/header.ejs %>

<main>
    <form method="post" action="file" enctype="multipart/form-data">
        <input type="file" name="sheet" id="">
        <button type="submit">Upload</button>
    </form>
</main>
<%- include layouts/footer.ejs %>
